@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<section class="vh-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registro</h3>
                        <form method="post" action="Registro">
                            <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control form-control" name="identificacion" />
                                        <label for="identificacion" class="form-label">Identificación</label>
                            </div>
                            <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control form-control" name="nombreCompleto" />
                                        <label for="Nombre Completo" class="form-label">Nombre Completo</label>
                            </div>
                            <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control form-control" name="correo" />
                                        <label for="Correo" class="form-label">Correo</label>
                            </div>
                            <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control form-control" name="numeroTelefono" />
                                        <label for="numeroTelefono" class="form-label">Numero telefono</label>
                            </div>
                            <div class="form-outline datepicker w-100">
                                        <input type="text" class="form-control form-control" name="username" />
                                        <label for="username" class="form-label">Username</label>
                            </div>
                            <div class="form-outline datepicker w-100">
                                        <input type="password" class="form-control form-control" name="password" />
                                        <label for="password" class="form-label">Password</label>
                            </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <select id="IDAgregarEstudianteEstado" name="Estado" class="select form-control">
                                            <option value="Activo" selected>Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                        <label class="form-label" for="password">Estado</label>
                                    </div>
                                </div>
                                
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary" type="submit" value="Registrarme" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>